doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin|Home
  body
    .container
      ul.tabs
        li
          a(href='http://localhost:3000/admin/create_new_employee') Create New Employee.
        li
          a(href='http://localhost:3000/admin/edit_employee') Edit Employee
        li
          a(href='/?tab=tab3') Tab
    script(src="/js/script.js")