html
	head
	body
		div
			form(action="http://localhost:3000/init_employee", method="GET") 
				label(for="employeeId") Enter Employee Id: 
				input#employeeId(type="text" name="employeeId") 
				button#checkID(type="submit") Check ID
		


