html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Document
    body 
      form#login
        label(for='email') Email:
        input#email(type='email', name='email') 
        br
        label(for='password') Password:
        input#password(type='text', name='password') 
        br
        button#login(type="submit") Login
      script(src="/js/script.js")