@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your CSS or SCSS file */

.webcam {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
}

.capture-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3490dc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.capture-button:hover {
  background-color: #2779bd;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}
